<div class="container">
  
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Phasellus et ultricies mi</h1>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <p class="text-center">    
            Pellentesque in nulla ac magna tristique faucibus nec sed arcu. Praesent auctor interdum libero. Praesent eget arcu quis justo interdum blandit. Donec quis nulla vel tellus mattis aliquam. Suspendisse feugiat lectus viverra vulputate viverra. Vivamus neque justo, ornare vitae condimentum eget, tincidunt non lectus. Vestibulum finibus nulla lorem, at accumsan erat dapibus at. Pellentesque massa odio, sollicitudin non justo id, posuere lobortis nibh. Donec lacinia odio at diam ultrices laoreet. Curabitur a massa eu quam porta mollis. Etiam fermentum lacinia lectus eget vehicula. Mauris hendrerit lectus a egestas gravida. Integer a porta purus. Vivamus at scelerisque odio, vel egestas est.
            </p>
        </div>
    </div>

    <div class="parallax"></div>
        
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <p class="text-center">
                <a routerLink="/feed" class="btn btn-secondary">Ver o feed</a>
            </p>
        </div>
    </div>

  </div>